<template lang="pug">
  form(@submit.prevent="submit")
    slot
</template>

<script>
  import history from '@/lib/history';

  export default {
    props: {
      object: {
        type: Object,
        required: true
      },
      model: {
        type: [Object, Function],
        required: true
      },
      objectName: {
        type: String,
        required: false,
        default() {
          return this.model.resource.singularize();
        }
      },
      showAfterSave: {
        type: Boolean,
        default: true
      },
      events: {
        type: Object,
        default() {
          return {
            loading: false,
            saving: false
          };
        }
      }
    },
    computed: {
      action() {
        return this.object.id ? 'update' : 'create';
      },
      modelName() {
        return this.i18n.mn(this.objectName);
      }
    },
    async created() {
      if (!this.object.id) return;
      this.events.loading = true;
      try {
        const { data } = await this.model.edit(this.object.id);
        Object.assign(this.object, data);
        this.$emit('load');
      } catch (ex) {
        if (ex.response.status === 403) {
          this.$notify.error(this.i18n.t('Access denied'));
        }
      } finally {
        this.events.loading = false;
      }
    },
    methods: {
      async submit() {
        this.events.saving = true;
        try {
          const args = _.compact([this.object.id, { [this.objectName]: this.object }]);
          const { data } = await this.model[this.action](...args);

          this.$notify.success(this.i18n.t(`forms.success.${this.action}`, { model: this.modelName }));

          if (this.showAfterSave) {
            history.go(`/${this.model.resource}/${data.id || this.object.id}`);
          }

          this.$emit('success', data);
        } catch (ex) {
          this.$set(this.object, '$errors', ex.response.data._errors);
          this.$notify.error(ex.response.data.errors.join('<br/>'));
          this.$emit('failure', ex);
        } finally {
          this.events.saving = false;
        }
      }
    }
  };
</script>
