<template lang="pug">
  modal(:title="i18n.t('winners.new_modal.title')" :ok-title="i18n.t('winners.new_modal.submit')" :ok-disabled="events.saving" :cancel-disabled="events.saving" @ok="submit")
    form-group(:value="winner" attr="category" :label="i18n.t('winners.new_modal.category')")
      selector(v-model="winner.category" :options="categories")
    form-group(:value="winner" attr="prize_type" :label="i18n.t('winners.new_modal.prize_type')")
      radio-buttons(v-model="winner.prize_type" :options="prizeTypeOptions")
    form-group(v-if="winner.prize_type === 'cash'" :value="winner" attr="prize_amount_cents" no-label)
      .input-group
        input.form-control(v-model="winner.prize_amount" placeholder="0.00")
        span.input-group-addon {{ settings.defaultCurrency }}
    form-group(v-else :value="winner" attr="prize_name" no-label :placeholder="i18n.an('Winner', 'prize_name')")
    .row
      .col-6
        form-group(:value="winner" attr="date_from" :label="i18n.t('winners.new_modal.date_from')")
          date-picker(v-model="winner.date_from")
      .col-6
        form-group(:value="winner" attr="date_to" :label="i18n.t('winners.new_modal.date_to')")
          date-picker(v-model="winner.date_to")
</template>

<script>
  import Winner from '@/hq/models/winner';

  const prizeTypes = ['cash', 'non_cash'];

  export default {
    props: {
      customer: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        winner: {
          customer_id: this.customer.id,
          prize_type: prizeTypes[0]
        },
        events: {
          saving: false
        }
      };
    },
    computed: {
      categories() {
        return this.lists.customers.winner_categories.map((category) => ({
          label: category,
          value: category
        }));
      },
      prizeTypeOptions() {
        return prizeTypes.map((type) => ({
          label: type.humanize(),
          value: type
        }));
      }
    },
    methods: {
      async submit() {
        this.events.saving = true;
        try {
          this.$delete(this.winner, this.winner.prize_type === 'cash' ? 'prize_name' : 'prize_amount');

          if (!this.customer.id) {
            this.$emit('close', this.winner);
            return;
          }

          const { data } = await Winner.create({ winner: this.winner });
          this.$emit('close', data);
        } catch (ex) {
          this.$set(this.winner, '$errors', ex.response.data._errors);
          this.$notify.error(ex.response.data.errors.join('<br/>'));
        } finally {
          this.events.saving = false;
        }
      }
    }
  };
</script>
